//- extends header

doctype html
head
    title SERLER
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', type="text/css", href='stylesheets/layout.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.min.js')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.slidepanel.setup.js')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.ui.min.js')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.tabs.setup.js')
    script(language='JavaScript', type='text/javascript', src='/socket.io/socket.io.js')
    script.
      function validateFields(){
        if(document.getElementById('addBiblioTitle').value.length !== 0 &&
        document.getElementById('addBiblioAuthors').value.length !== 0 &&
        document.getElementById('addBiblioJournal').value.length !== 0 &&
        document.getElementById('addBiblioYear').value.length !== 0 &&
        document.getElementById('addBiblioAuthors').value.length !== 0 &&
        document.getElementById('addPractice').value.length !== 0 &&
        document.getElementById('addDescription').value.length !== 0 &&
        document.getElementById('addEviWhy').value.length !== 0 &&
        document.getElementById('addEviWho').value.length !== 0 &&
        document.getElementById('addEviHow').value.length !== 0 &&
        document.getElementById('addEviWhat').value.length !== 0 &&
        document.getElementById('addEviWhen').value.length !== 0 &&
        document.getElementById('addEviWhere').value.length !== 0 &&
        document.getElementById('addResearchMetrics').value.length !== 0)
          return true;
        return false;
      }
      var socket = io.connect('/');
      $(document).ready(function(){
        $("#paper_submission_btn").click(function(){
          var submitEvidenceBtnText = document.getElementById("paper_submission_btn");
          if(submitEvidenceBtnText.value === 'Append Evidence'){
            submitEvidenceBtnText.value = 'Cancell Append Evidence';
          }else{
            submitEvidenceBtnText.value = 'Append Evidence';
          }
          $("#submission_details").toggle();
          });
        $("#start_search_btn").click(function(){
          socket.emit('toServerHi');
          });
        $("#complete_submit_practice").click(function(){
        //-need to check if all the fields are completed
          if(validateFields()){
            var bibTitle = document.getElementById("addBiblioTitle").value
            var bibAuthors = document.getElementById("addBiblioAuthors").value
            var bibJournal = document.getElementById("addBiblioJournal").value
            var bibYear = document.getElementById("addBiblioYear").value
            var tempPrac = document.getElementById("addPractice").value;
            var tempDesc = document.getElementById("addDescription").value;
            var tempWhy = document.getElementById("addEviWhy").value;
            var tempWhat = document.getElementById("addEviWhat").value;
            var tempWho = document.getElementById("addEviWho").value;
            var tempWhen = document.getElementById("addEviWhen").value;
            var tempWhere = document.getElementById("addEviWhere").value;
            var tempHow = document.getElementById("addEviHow").value;
            var researchQuestion = document.getElementById("addResearchQuestion").value
            var researchMetrix = document.getElementById("addResearchMetrics").value
            socket.emit('toServerInsertEntry', {title:bibTitle, author:bibAuthors,
                                        journal:bibJournal, year: bibYear,
                                        prac:tempPrac, desc:tempDesc, why:tempWhy, 
                                        what:tempWhat, who:tempWho,
                                        when:tempWhen, where:tempWhere,
                                        how:tempHow, question: researchQuestion,
                                        metrix: researchMetrix});
          }
        });
        
        $("#start_search_btn").click(function(){
          var identifier = document.getElementById("searchIdentifier").value;
          alert("The searching function has not been implemented yet");
          //- socket.emit('toServerSearchIdentifier', {id:identifier});
        });
        
        socket.on('toClientSearchResponse', function(data){
          alert(data.id, data.prac);
        });
        
        socket.on('toClientReload', function(data) {
          alert("entry entered");
          location.reload();
        });
      });
  body
    .wrapper.col0
      #topbar
        #slidepanel
          .topbox
            h2 Serler
            p Hello World
            p.readmore
              a(href='#') Continue Reading &raquo;
          .topbox
            h2 Researcher/Practioner Login
            |         
            form(action='#', method='post')
              fieldset
                legend Teachers Login Form
                |             
                label(for='teachername')
                  | Username:
                  input#teachername(type='text', name='teachername', value='')
                |             
                label(for='teacherpass')
                  | Password:
                  input#teacherpass(type='password', name='teacherpass', value='')
                |             
                label(for='teacherremember')
                  input#teacherremember.checkbox(type='checkbox', name='teacherremember', checked='checked')
                  |               Remember me
                |             
                p
                  input#teacherlogin(type='submit', name='teacherlogin', value='Login')
                  |               &nbsp;
                  |               
                  input#teacherreset(type='reset', name='teacherreset', value='Reset')
          |       
          .topbox.last
            // 
            p
          |       
          br.clear
        |     
        #loginpanel
          ul
            li.left Log In Here &raquo;
            |         
            li#toggle.right
              a#slideit(href='#slidepanel') Login
              a#closeit(style='display: none;', href='#slidepanel') Close Panel
        |     
        br.clear
    .wrapper.col1
      #header
        #logo
          h1
            a(href='#body.jade') SERLER
          |       
          p Software Engineering Research Laboratory Evidence Repository
        |     
        .fl_right
          ul
            li
              a(href='#') Support
        |     
        br.clear
    .wrapper.col3
      #container
        p Please enter what you are looking for
        |     
        form(action='#', method='post')
          fieldset
            input#searchIdentifier(type='text', size='50', placeholder='Please type in the request')
            |         
            input#start_search_btn(type='button', value='Search')
            input#paper_submission_btn(type='button', value='Insert New Article Properties')
        |       
        #submission_details(data-role='page', style='display: none;')
          .ui-content(data-role='main')
            form(id='#')
              div
                h3 Information about article
                br
                h5 Bibliographic info
                span.input
                  label Title
                  &ensp;
                  input(id = 'addBiblioTitle', type='text', size='50', placeholder='Title', required)
                br
                span.input
                  label Authors
                  &ensp;
                  input(id = 'addBiblioAuthors', type='text', size='50', placeholder='Authors', required)
                br
                span.input
                  label Journal
                  &ensp;
                  input(id = 'addBiblioJournal', type='text', size='50', placeholder='Journal', required)
                br
                span.input
                  label Year
                  &ensp;
                  input(id = 'addBiblioYear', type='text', size='50', placeholder='Year', required)
                br
                h5 Credibility info
                span.input
                  label Rating
                  &ensp;
                  //- form(action='')
                  select(id = 'addRating', required)
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                span.input
                  label Research Level
                  &ensp;
                  select(id = 'addResearchLevel', required)
                    option(value='1') Level 1
                    option(value='2') Level 2
                    option(value='3') Level 3
                    option(value='4') Level 4
                    option(value='5') Level 5
              br
              h2 Software Methodology Used
                span.input
                  //- form(action='')
                  select(id = 'addMethodology')
                    option(value='scrum') Scrum
                    option(value='xp') XP
                    option(value='kanban') Kanban
                    option(value='waterfall') Waterfall
                  br
              h2 Practice Being Investigated
                br
                span.input
                  input(type='checkbox', id='prac_tdd', value='Test Driven Development')
                  |TDD
                  input(type='checkbox', id='prac_ci', value='Continuous Integration')
                  |Continuous Integration
                  input(type='checkbox', id='prac_bdd', value='Behavior Driven Development')
                  |Behavior Driven Development
                  input(type='checkbox', id='prac_pp', value='Planning Poker')
                  |Planning Poker
                  input(type='checkbox', id='prac_sm', value='Standup Meeting')
                  |Standup Meeting
                  br
              h2 Evidence Submission Details
                div.input
                  label Practice name Practice
                  br
                  textarea(id ='addPractice',name="resp", rows="6", cols="66", required)
                  | #{respStr}
                div.input
                  label Practice name Description
                  br
                  textarea(id ='addDescription', name="resp", rows="6", cols="66", required)
                  | #{respStr}
                div.input
                  label Why practice used
                  br
                  textarea(id ='addEviWhy', name="resp", rows="6", cols="66", required)
                  | #{respStr}
                div.input
                  label Who used practice
                  br
                  textarea( id ='addEviWho', name="resp", rows="2", cols="30", required)
                  | #{respStr}
                div.input
                  label What were used in the practice
                  br
                  textarea( id ='addEviWhat', name="resp", rows="6", cols="60", required)
                  | #{respStr}
                div.input
                  label Where the practice was used
                  br
                  textarea( id ='addEviWhere', name="resp", rows="6", cols="60", required)
                  | #{respStr}
                div.input
                  label When the practice was used
                  br
                  textarea( id ='addEviWhen', name="resp", rows="6", cols="60", required)
                  | #{respStr}
                div.input
                  label How the practice was used
                  br
                  textarea( id ='addEviHow', name="resp", rows="6", cols="60", required)
                  | #{respStr}
                br
              h2 Information about the Research Design
              div.input
                label Research Question
                br
                textarea( id ='addResearchQuestion', name="resp", rows="6", cols="60", required)
                | #{respStr}
                br
                label Research Method
                //- form(action='')
                span.input
                  input(type='checkbox', id='researchSurvey', value='Survey')
                  |Survey
                  input(type='checkbox', id='researchInterview', value='Interview')
                  |Interview
                  input(type='checkbox', id='researchExperiment', value='Experiment')
                  |Experiment
                br
                label Research Metrics used
                br
                textarea( id ='addResearchMetrics', name="resp", rows="6", cols="60", required)
                | #{respStr}
                br
                label Nature of Participant
                //- form(action='')
                span.input
                  input(type='checkbox', id='par_novice', value='Novice')
                  |Novice
                  input(type='checkbox', id='par_intermediate', value='Intermediate')
                  |Intermediate
                  input(type='checkbox', id='par_senior', value='Senior')
                  |Senior
                  input(type='checkbox', id='par_expert', value='Expert')
                  |Expert
                br
              input#complete_submit_practice(type='submit', value='Submit')
              div.input
    #searchresult.wrapper.col3(style='display: none;')
      #container
        iframe(src='pages/index.html', width='100%', height='600')
    .wrapper.col6
      #footer
      .wrapper.col7
        #copyright
          p.fl_left
            | Two Rangers Software Engneering Assignment 1B AUT University
            a(href='#')
          |      
          br.clear
