h2 Evidence Submission Details
  div.input
    label Practice Name
    br
    textarea(id ='addPractice',name="resp", rows="6", cols="66", required)
    | #{respStr}
  div.input
    label Practice Description
    br
    textarea(id ='addDescription', name="resp", rows="6", cols="66", required)
    | #{respStr}
  div.input
    label Why practice used
    br
    textarea(id ='addEviWhy', name="resp", rows="6", cols="66", required)
    | #{respStr}
  div.input
    label Who used practice
    br
    textarea( id ='addEviWho', name="resp", rows="2", cols="30", required)
    | #{respStr}
  div.input
    label What were used in the practice
    br
    textarea( id ='addEviWhat', name="resp", rows="6", cols="60", required)
    | #{respStr}
  div.input
    label Where the practice was used
    br
    textarea( id ='addEviWhere', name="resp", rows="6", cols="60", required)
    | #{respStr}
  div.input
    label When the practice was used
    br
    textarea( id ='addEviWhen', name="resp", rows="6", cols="60", required)
    | #{respStr}
  div.input
    label How the practice was used
    br
    textarea( id ='addEviHow', name="resp", rows="6", cols="60", required)
    | #{respStr}
  br
