//- extends header

doctype html
head
    title SERLER
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', type="text/css", href='stylesheets/layout.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.min.js')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.slidepanel.setup.js')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.ui.min.js')
    script(language='JavaScript', type='text/javascript', src='javascripts/jquery.tabs.setup.js')
    script(language='JavaScript', type='text/javascript', src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('/');
      $(document).ready(function(){
        $("#paper_submission_btn").click(function(){
          var submitEvidenceBtnText = document.getElementById("paper_submission_btn");
          if(submitEvidenceBtnText.value === 'Append Evidence'){
            submitEvidenceBtnText.value = 'Cancell Append Evidence';
          }else{
            submitEvidenceBtnText.value = 'Append Evidence';
          }
          $("#submission_details").toggle();
          });
        $("#start_search_btn").click(function(){
          socket.emit('toServerHi');
          });
        $("#complete_submit_practice").click(function(){
        //-need to check if all the fields are completed
          var tempId = document.getElementById("addEviId");
          var tempPrac = document.getElementById("addPractice");
          var tempDesc = document.getElementById("addDescription");
          var tempWhy = document.getElementById("addEviWhy");
          var tempWhat = document.getElementById("addEviWhat");
          var tempWho = document.getElementById("addEviWho");
          var tempWhen = document.getElementById("addEviWhen");
          var tempWhere = document.getElementById("addEviWhere");
          var tempHow = document.getElementById("addEviHow");
          socket.emit('toServerInsertEntry', {id:tempId.value, prac:tempPrac.value,
                                      desc:tempDesc.value, why:tempWhy.value, 
                                      what:tempWhat.value, who:tempWho.value,
                                      when:tempWhen.value, where:tempWhere.value,
                                      how:tempHow.value});
        });
        socket.on('toClientReload', function(data) {
          alert("entry entered");
          location.reload();
        });
      });
  body
    .wrapper.col0
      #topbar
        #slidepanel
          .topbox
            h2 Serler
            p Hello World
            p.readmore
              a(href='#') Continue Reading &raquo;
          .topbox
            h2 Researcher/Practioner Login
            |         
            form(action='#', method='post')
              fieldset
                legend Teachers Login Form
                |             
                label(for='teachername')
                  | Username:
                  input#teachername(type='text', name='teachername', value='')
                |             
                label(for='teacherpass')
                  | Password:
                  input#teacherpass(type='password', name='teacherpass', value='')
                |             
                label(for='teacherremember')
                  input#teacherremember.checkbox(type='checkbox', name='teacherremember', checked='checked')
                  |               Remember me
                |             
                p
                  input#teacherlogin(type='submit', name='teacherlogin', value='Login')
                  |               &nbsp;
                  |               
                  input#teacherreset(type='reset', name='teacherreset', value='Reset')
          |       
          .topbox.last
            // 
            p
          |       
          br.clear
        |     
        #loginpanel
          ul
            li.left Log In Here &raquo;
            |         
            li#toggle.right
              a#slideit(href='#slidepanel') Login
              a#closeit(style='display: none;', href='#slidepanel') Close Panel
        |     
        br.clear
    .wrapper.col1
      #header
        #logo
          h1
            a(href='index.html') SERLER
          |       
          p Software Engineering Research Laboratory Evidence Repository
        |     
        .fl_right
          ul
            li
              a(href='online_support.html') Online Support
        |     
        br.clear
    .wrapper.col3
      #container
        p Please enter what you are looking for
        |     
        form(action='#', method='post')
          fieldset
            input(type='text', size='50', placeholder='Please type in the request')
            |         
            input#start_search_btn(type='button', value='Search')
            //- |
            //- script.
            |         
            input#paper_submission_btn(type='button', value='Append Evidence')
        |       
        #submission_details(data-role='page', style='display: none;')
          .ui-content(data-role='main')
            h2 Evidence Submission Details
            form(id='addEvidenceForm' action="javascript:void(0);")
              div.input
                label Practice name identifier
                br
                input(id ='addEviId', type='text', size='50', placeholder='You must specify the correct practice identifier')
                | #{respStr}
              div.input
                label Practice name Practice
                br
                textarea(id ='addPractice',name="resp", rows="6", cols="66", required)
                | #{respStr}
              div.input
                label Practice name Description
                br
                textarea(id ='addDescription', name="resp", rows="6", cols="66", required)
                | #{respStr}
              div.input
                label Why practice used
                br
                textarea(id ='addEviWhy', name="resp", rows="6", cols="66" required)
                | #{respStr}
              div.input
                label Who used practice
                br
                textarea( id ='addEviWho', name="resp", rows="2", cols="30" required)
                | #{respStr}
              div.input
                label What were used in the practice
                br
                textarea( id ='addEviWhat', name="resp", rows="6", cols="60" required)
                | #{respStr}
              div.input
                label Where the practice was used
                br
                textarea( id ='addEviWhere', name="resp", rows="6", cols="60" required)
                | #{respStr}
              div.input
                label When the practice was used
                br
                textarea( id ='addEviWhen', name="resp", rows="6", cols="60" required)
                | #{respStr}
              div.input
                label How the practice was used
                br
                textarea( id ='addEviHow', name="resp", rows="6", cols="60" required)
                | #{respStr}
              div.input
                input#complete_submit_practice(type='submit', value='Submit ')
          | References
    #searchresult.wrapper.col3(style='display: none;')
      #container
        iframe(src='pages/index.html', width='100%', height='600')
    .wrapper.col6
      #footer
      .wrapper.col7
        #copyright
          p.fl_left
            | Two Rangers Software Engneering Assignment 1B AUT University
            a(href='#')
          |      
          br.clear
